* {
    padding: 0;  
    margin: 0;
    box-sizing: border-box; 
   }

body{
       font-family:'Times New Roman', Times, serif;
}

h1{
    background-color: black;
    color: white;
    text-align: center;
}


header {
    height: 250px;
    position: relative;
    background-image: url(./assets3/hockey_1.jpg);
    background-size: 100%;
}

#titulo{
    background-color: red;
    color: black;
    text-align: center;
    border: 3px solid black;
}

.fcc-btn {
    background-color: grey;
    color: white;
    padding: 5px;
    text-decoration: none;
    margin: 5px;
    border-radius: 7px;
}

nav>a{

    display: inline;
    translate: 10px;
}

nav{
    text-align: right;
}

h3 {
    margin-top: 20px;
}
section.contenido-flex {
    
    display: flex;
    justify-content: space-around;
}

section{
    padding-left: 50px;
    margin-left: 10px;
}

div#container {
    margin-top: -126px;
    max-height: 74px;
    justify-content: right;
}

figure.logo {
    position: fixed;
    top: 258px;
    left: 50px;
}
.adorno{
    margin-right: 50px;
}



h3{
    font-family: 'Times New Roman', Times, serif;
    font-display: 50px;
  }

article {
    padding-right: 200px;
    display: inline-block;
    position: fixed;
    top: 359px;
}



figure.imagen-1 {
    padding: 5px;
    position: absolute;
}


img.img3 {
    margin-top: 50px;
    position: relative;
}


img{
    height: 70px;
}

figure.logo {
    position: fixed;
    top: 258px;
}





footer {
    margin-top: 430px;
    margin-bottom: 15px;
    text-align: center;
    background-color: firebrick;
}
