* {
    padding: 0;  
    margin: 0;
    box-sizing: border-box; 
   }
body{
       font-family: 'Times New Roman', Times, serif;
}

h1{
    background-color: black;
    color: white;
    text-align: center;
}

header {
    height: 250px;
    position: relative;
    background-image: url(./assets3/hockey_1.jpg);
    background-size: 100%;
}
#titulo{
    background-color: red;
    color: black;
    text-align: center;
    border: 3px solid black;
}
.fcc-btn {
    background-color: grey;
    color: white;
    padding: 5px;
    text-decoration: none;
    margin: 5px;
    border-radius: 7px;
}

nav{
    text-align: right;
}
nav>a{
      display: inline;
      translate: 10px;
}



figure{
    margin-right: 50px;
}




section{
    padding-left: 50px;
    margin-left: 10px;
    border: 2px solid transparent;
    

}


img{
    margin-left: 35px;
    width: 72px;
    height: 72px;
   
}

section.contenido-flex {
    display: flex;
    justify-content: space-around;
}


figure.logo {
    position: fixed;
    top: 258px;
    left: 15px;
}


img {
    height: 70px;
}
article {
    padding-left: 200px;
    /* height: 300px; */
    top: 20;
    margin-top: 30px;
}

p {
    margin-top: 30px;
}

footer{margin-top: 300px;
    margin-bottom: 20px;
    text-align: center;
    background-color: firebrick;
    
}
