* {
    padding: 0;  
    margin: 0;
    box-sizing: border-box; 
   }

body{
       font-family:'Times New Roman', Times, serif;
}


h1{
    background-color: black;
    color: white;
    text-align: center;
}

header {
    height: 250px;
    position: relative;
    background-image: url(./assets3/hockey_1.jpg);
    background-size: 100%;
}

#titulo{
    background-color: red;
    color: black;
    text-align: center;
    border: 3px solid black;
}

nav>a{

    display: inline;
    translate: 10px;
}

nav{
    text-align: right;
}

.fcc-btn {
    background-color: grey;
    color: white;
    padding: 5px;
    text-decoration: none;
    margin: 5px;
    border-radius: 7px;
}


figure.logo {
    position: absolute;
    top: 363px;
}
img{
    height: 70px;
}

section.contenido-flex {
    padding-left: 200px;
    display: inline-block;
    position: absolute;
  
}

tbody {
    background-color: coral;
    font-weight: 900;
}


h3 {
    height: 50px;
    font-style: oblique;
}


footer {
    margin-top: 400px;
    margin-bottom: 20px;
    text-align: center;
    background-color: firebrick;
}
aside.primero {
    font-weight: 900;
    margin-top: 20px;
    
}

