* {
    padding: 0;  
    margin: 0;
    box-sizing: border-box; 
   }
body{
       font-family: 'Times New Roman', Times, serif;
}

h1{
    background-color: black;
    color: white;
    text-align: center;
}

header {
    height: 250px;
    position: relative;
    background-image: url(./assets3/hockey_1.jpg);
    background-size: 100%;
}


#titulo{
    background-color: red;
    color: black;
    text-align: center;
    border: 3px solid black;
}
.fcc-btn {
    background-color: grey;
    color: white;
    padding: 5px;
    text-decoration: none;
    margin: 5px;
    border-radius: 7px;
}

nav{
    text-align: right;
}
nav>a{

 display: inline;
    translate: 10px;
}

section{
    padding-left: 50px;
    margin-left: 10px;
}

h3{
    text-align: center;
    margin-top: 20px;
}
article {
    padding-left: 150px;
    padding-right: 100px;
    top: 20;
    margin-top: 70px;
}

img{
    height: 70px;
}

figure.logo {
    position: absolute;
    top: 263px;
    left: 50px;
}

.texto{
    margin-top: 30px;
}

p{
    margin-top: 10px;
}