* {
    padding: 0;  
    margin: 0;
    box-sizing: border-box; 
   }

body{
       font-family:'Times New Roman', Times, serif;
}


h1{
    background-color: black;
    color: white;
    text-align: center;
}
header {
    height: 250px;
    position: relative;
    background-image: url(./assets3/hockey_1.jpg);
    background-size: 100%;
}

#titulo{
    background-color: red;
    color: black;
    text-align: center;
    border: 3px solid black;
}
.fcc-btn {
    background-color: grey;
    color: white;
    padding: 5px;
    text-decoration: none;
    margin: 5px;
    border-radius: 7px;
    
   
}




nav{
    text-align: right;
}





section{
    padding-left: 50px;
    margin-left: 10px;
}

article {
    padding-right: 200px;
    display: inline-block;
    position: fixed;
    top: 359px;
}

.fechas{
    position: fixed;
    
}

h3 {
    margin-top: 20px;
}

img{
    height: 70px;
}

figure.logo {
    position: fixed;
    top: 258px;
    left: 50px;
}


section.flex {
    display: flex;
    justify-content: space-around;
}

aside {
    position: relative;
    display: inline;
    top: 330px;
}

footer {
    margin-top: 430px;
    margin-bottom: 15px;
    text-align: center;
    background-color: firebrick;
}

.container{
    flex-wrap: nowrap;
}
